.venv/
venv/
.теория/
__pycache__/
*.pyc
*.pyo
*.pyd

.env
# .env.*

.pytest_cache/
.ruff_cache/
.mypy_cache/

.idea/
.vscode/

htmlcov/
.coverage

dist/
build/
*.egg-info/

.DS_Store

01-assignment-requirements.md
02-recommendations.md
03-microservices-notes.md